#ifndef CREDENTIALS_H
#define CREDENTIALS_H
// Copy this file to credentials.h and fill in real values

#define WIFI_SSID   "YOUR_WIFI_SSID"
#define WIFI_PASS   "YOUR_WIFI_PASSWORD"

#define MQTT_USER   "YOUR_MQTT_USERNAME"
#define MQTT_PASS   "YOUR_MQTT_PASSWORD"

#endif
